<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="geoff" sequenceNumber="1409143998">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.3.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.ecore.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.ecore.edit.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.edit.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.oda.feature.group" version="1.3.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.edit.ui.feature.group" version="2.7.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.doc.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.all.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.editor.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.10.0.v20140514-1158"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.edit.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.doc.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.oda.ecore.feature.group" version="1.3.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.mapping.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.common.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.gwt.sdk.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.10.0.v20140514-1158"/>
      <unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="1.2.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.rap.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="2.9.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20140519-0339"/>
      <unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20140519-0339"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
      <repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="2.1.2.201310031412"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.aopalliance" version="0.0.0"/>
      <unit id="com.ibm.icu" version="4.4.2.v20110823"/>
      <unit id="org.w3c.dom.events" version="0.0.0"/>
      <unit id="org.apache.lucene" version="0.0.0"/>
      <unit id="org.apache.lucene.misc" version="0.0.0"/>
      <unit id="org.apache.lucene.queries" version="0.0.0"/>
      <unit id="javax.servlet.jsp.jstl" version="0.0.0"/>
      <unit id="lpg.runtime.java" version="0.0.0"/>
      <unit id="org.json" version="0.0.0"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.source.feature.group" version="3.9.2.v20140221-1700"/>
      <unit id="org.eclipse.pde.source.feature.group" version="3.9.1.v20140221-1700"/>
      <unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.9.1.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.0.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.2.0.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.100.v20130502-0334"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.2.1.v20140221-1852"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.8.0.v20140114-1344"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.3.2.v20140221-1700"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="1.2.2.v20140206-1358"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="4.3.0.v20140221-2329"/>
      <unit id="org.eclipse.equinox.server.p2.feature.group" version="1.2.1.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="1.2.0.v20140221-1852"/>
      <unit id="org.eclipse.test.feature.group" version="3.6.0.v20140203-1326"/>
      <unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.0.v20140117-0610"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.2.1.v20140221-1852"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.8.0.v20130813-1853"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.3.2.v20140221-1700"/>
      <unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.0.v20130327-1631"/>
      <unit id="org.eclipse.sdk.ide" version="4.3.2.M20140221-1700"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.9.2.v20140221-1700"/>
      <unit id="org.eclipse.help.source.feature.group" version="2.0.2.v20140221-1700"/>
      <unit id="org.eclipse.equinox.starterkit.product.feature.feature.group" version="1.2.0.v20140221-1852"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.3.2.M20140221-1700"/>
      <unit id="org.eclipse.sdk.examples.feature.group" version="3.5.300.v20140221-1700"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.1.0.v20140110-1610"/>
      <unit id="org.eclipse.platform.feature.group" version="4.3.2.v20140221-1852"/>
      <unit id="org.eclipse.platform.sdk" version="4.3.2.M20140221-1700"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.3.2.v20140221-1852"/>
      <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.0.200.v20130327-1442"/>
      <unit id="org.eclipse.equinox.server.core.feature.group" version="1.2.0.v20140110-1610"/>
      <unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.1.v20140113-1859"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.0.v20140221-1852"/>
      <unit id="org.eclipse.pde.feature.group" version="3.9.1.v20140221-1700"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20140110-1610"/>
      <unit id="org.eclipse.help.feature.group" version="2.0.2.v20140221-1700"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.0.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20140221-1852"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="1.2.2.v20140206-1358"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20140221-1852"/>
      <unit id="org.eclipse.platform.source.feature.group" version="4.3.2.v20140221-1852"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.8.1.v20140221-1852"/>
      <unit id="org.eclipse.sdk.examples.source.feature.group" version="3.5.300.v20140221-1700"/>
      <unit id="org.eclipse.equinox.executable" version="3.6.0.v20140117-1004"/>
      <unit id="org.eclipse.releng.tools.feature.group" version="3.5.0.v20140203-1326"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.emf.liveeditor" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.emf.ui" version="0.0.0"/>
      <unit id="org.eclipse.e4.tools.services" version="0.0.0"/>
      <repository location="http://download.eclipse.org/e4/downloads/drops/R-0.14-201306242200/repository"/>
    </location>
  </locations>
</target>
