<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="Geo Map Editor"
            extensions="geoff"
            icon="icons/geoff-16.png"
            class="org.locationtech.geoff.ui.parts.GeoMapEditor"
            id="org.locationtech.geoff.designer.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Geo Map"
            icon="icons/geoff-16.png"
            class="org.locationtech.geoff.designer.perspectives.GeoffDesignerPerspectiveFactory"
            id="org.locationtech.geoff.designer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.locationtech.geoff.designer.perspective">
         <view
               minimized="false"
               ratio="0.33"
               relative="org.eclipse.ui.editorss"
               visible="true"
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="left">
         </view>
         <view
               minimized="false"
               ratio="0.66"
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="org.locationtech.geoff.ui.parts.LayersUI"
               relationship="bottom">
         </view>
         <view
               minimized="false"
               ratio="0.66"
               relative="org.eclipse.ui.editorss"
               id="org.locationtech.geoff.geocoding.ui.GeocodingPart"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Geoff"
            id="org.locationtech.geoff.designer.category">
      </category>
      <wizard
            name="Geo Map"
            icon="icons/geoff-16.png"
            category="org.locationtech.geoff.designer.category"
            class="org.locationtech.geoff.designer.wizards.NewGeoMapWizard"
            id="org.locationtech.geoff.designer.wizard1">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.locationtech.geoff.designer.views.layers">
         <command
               commandId="org.locationtech.geoff.designer.commands.addResourceAsLayer"
               label="Layers"
               icon="icons/layers-16.png"
               style="pulldown"
               id="org.locationtech.geoff.designer.layers">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.locationtech.geoff.designer.editor">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Geoff"
               icon="icons/geoff-16.png"
               id="org.locationtech.geoff.designer.popup">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.locationtech.geoff.designer.popup">
         <command
               commandId="org.locationtech.geoff.designer.commands.addResourceAsLayer"
               label="Add GeoJSON Layer"
               icon="icons/actions16/add.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.locationtech.geoff.designer.editor">
                     </equals>
                  </with>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="geojson">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.locationtech.geoff.designer.commands.addResourceAsLayer"
               label="Add KML Layer"
               icon="icons/KML.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.locationtech.geoff.designer.editor">
                     </equals>
                  </with>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kml">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.locationtech.geoff.designer.commands.addResourceAsLayer"
               label="Add GPX Layer"
               icon="icons/actions16/add.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.locationtech.geoff.designer.editor">
                     </equals>
                  </with>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="gpx">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.locationtech.geoff.designer.layers">
         <command
               commandId="org.locationtech.geoff.designer.commands.addTileLayer"
               label="OpenStreetMap"
               icon="icons/OSM.png"
               style="push">
            <parameter
                  name="tileProvider"
                  value="OSM">
            </parameter>
         </command>
         <command
               commandId="org.locationtech.geoff.designer.commands.addTileLayer"
               label="MapQuest"
               icon="icons/MapQuest.png"
               style="push">
            <parameter
                  name="tileProvider"
                  value="MapQuest">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.locationtech.geoff.designer.fragments.PluginFragments">
      </processor>
   </extension>

</plugin>
